
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# General
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# dotnet specific
dotnet_sort_system_directives_first = true
