obj
bin
examples/**/obj
examples/**/bin
NuGet.Config
.DS_Store
*.DotSettings.user

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
**/global.json
