parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        - message: '#Call to an undefined methid Pest\\Expectation|Pest\\Support\\Extendable::#'
          path: tests/*
