parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        - message: '#Call to an undefined method Pest\\Expectation|Pest\\Support\\Extendable::#'
          path: tests/*
        - message: '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::#'
          path: tests/*
        - message: '#TrueLayer\\Signing\\Signer::addSignatureHeader\(\)#'
          path: tests/*
