name: C#

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/csharp.yml'
      - 'csharp/**'
      - 'test-resources/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/csharp.yml'
      - 'csharp/**'
      - 'test-resources/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '5.0.x'
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '3.1.x'
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '2.2.x'
    - run: cd csharp && dotnet build && dotnet test

  examples:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'
    - run: cd csharp/examples/webhook-server && dotnet build
    - run: cd csharp/examples/sign-request && dotnet build
  
  publish:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'  # Runs only on commits on main branch
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Generate NuGet package
      run: |
        cd csharp
        dotnet pack src/truelayer-signing.csproj \
          --configuration Release \
          --include-source \
          -property:SymbolPackageFormat=snupkg
    - name: Push to NuGet
      run: |
        cd csharp
        dotnet nuget push src/bin/Release/TrueLayer.Signing.*.nupkg \
          --source https://api.nuget.org/v3/index.json \
          --api-key ${{ secrets.NUGET_API_KEY }}
