name: C#

on:
  push:
    paths:
    - 'csharp/**'
  pull_request:
    paths:
    - 'csharp/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - run: cd csharp && dotnet build && dotnet test

  examples:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - run: cd csharp/examples/webhook-server && dotnet build
    - run: cd csharp/examples/sign-request && dotnet build
