name: C#

on:
  push:
    branches: [ main ]
    paths:
      - 'csharp/**'
      - 'test-resources/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'csharp/**'
      - 'test-resources/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '5.0.x'
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '3.1.x'
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '2.2.x'
    - run: cd csharp && dotnet build && dotnet test

  examples:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'
    - run: cd csharp/examples/webhook-server && dotnet build
    - run: cd csharp/examples/sign-request && dotnet build
