name: Go

on:
  push:
    branches: [ main ]
    paths:
      - 'go/**'
      - 'test-resources/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'go/**'
      - 'test-resources/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.14'
      - run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.48.0
          cd go
          golangci-lint run
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.14'
      - run: cd go && go test ./...
  examples:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v3
      with:
        go-version: '^1.14'
    - run: cd go/examples/sign-request && go build
    - run: cd go/examples/webhook-server && go build
