name: Node

on:
  push:
    branches: [ main ]
    tags:
      - "nodejs/v**"
    paths:
    - 'nodejs/**'
    - 'test-resources/**'
  pull_request:
    branches: [ main ]
    paths:
    - 'nodejs/**'
    - 'test-resources/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 'lts/*'
    - run: cd nodejs && yarn --frozen-lockfile && yarn test
  
  publish:
    runs-on: ubuntu-latest
    # Runs only on tags push
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    needs: test
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v2
      with:
        node-version: 'lts/*'
    - name: Get version from tag
      uses: actions-ecosystem/action-regex-match@v2
      id: regex-match
      with:
        text: ${{ github.ref_name }}
        # matches tags starting with "nodejs/v" and uses the rest of the string as the version
        regex: 'nodejs\/v(.*)'
    - name: Publish to npm
      run: |
        cd nodejs
        yarn --frozen-lockfile
        npm set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}
        VERSION=${{ steps.regex-match.outputs.group1 }}
        npm version $VERSION
        npm publish
  
  prova:
    runs-on: ubuntu-latest
    steps:
    - name: echoes
      run: |
        echo "event_name: ${{ github.event_name }}"
        echo "ref: ${{ github.ref }}"
        echo "base_ref: ${{ github.base_ref }}"
