name: Rust

on:
  push:
    branches: [ main ]
    paths:
    - 'rust/**'
    - 'test-resources/**'
  pull_request:
    branches: [ main ]
    paths:
    - 'rust/**'
    - 'test-resources/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - run: rustup update stable
    - uses: actions/checkout@v4
    - run: cd rust && cargo test

  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - run: rustup update stable
    - uses: actions/checkout@v4
    - run: cargo fmt --manifest-path=rust/Cargo.toml -- --check
    - run: cargo fmt --manifest-path=rust/examples/webhook-server/Cargo.toml -- --check

  examples:
    runs-on: ubuntu-latest
    steps:
    - run: rustup update stable
    - uses: actions/checkout@v4
    - run: cargo check --manifest-path=rust/examples/webhook-server/Cargo.toml
